
<html>
    <head>
      <title>SignUp</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
     <!--NAV VAR-->
  
     <nav class="navbar navbar-expand-md navbar-dark bg-dark">
       
       
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="#">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="./index.html">Log in</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="./SignUp.html" >Sign Up</a>
              </li>
          </ul>
      </div>
  </nav>
      <div class="container">
        <div class="col-sm-6 mx-auto">
          <div class="card mt-5">
            <div class="card-body text-center">
                <h1><span class="fa fa-sign-up"></span>Nutriologo or Paciente</h1>
                <a href="./SignUpNutriologo.html" class="btn btn-light">
                  <span class="fa fa-user"></span>Nutriologo
                </a>
                <a href="./SignUpPaciente.html"  class="btn btn-light">
                  <span class="fa fa-user"></span>Paciente
                </a>
              </div>
            
          </div>
        </div>
      </div>
    </body>
  </html>
  