#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

a:hover {
  text-decoration: none;
}
.avatar {
  max-width: 35px;
}

.profile {
  display: flex;
  align-items: center;
  text-align: center;
}
